.task-container{
  width: 100%;
  display: block;
  text-align: left;
  height: auto;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #8B8686;
}

.task-container:hover{
  background-color: rgb(215, 213, 213);
  cursor: pointer;
}
.task-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  padding: 8px 12px 4px 12px;
}
.task-name{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 1.1;
}
.task-id{
  font-size: 12px;
  color: #B3AAAA; 
  align-self: flex-start;
}